@import "tailwindcss";

.menu summary:hover {
    @apply bg-[#EC3113];
}

.menu ul li a:hover {
    @apply bg-[#EC3113];
}

.menu ul li a:active {
    @apply bg-[#EC3113];
}

.step-primary:before  {
    @apply bg-[#EC3113];
    @apply border-[#EC3113];
}

.step-primary:after  {
    @apply bg-[#EC3113];
    @apply border-[#EC3113];
}

.join-item:checked  {
    @apply bg-[#EC3113];
    @apply border-[#EC3113];
}

.search .input{
    width: clamp(3rem, 30rem, 88%);
}

.show-alert {
    float: left;
    margin-top: 5rem;
    animation: fadeinout 5s linear forwards;
}

@keyframes fadeinout {
    0% { opacity: 0 }
    20% { opacity: 1 }
    80% { opacity: 1 }
    100% { opacity: 0 }
}
